<div class="container">
  <h1>Cadastro de pessoas</h1>
  <hr />
  <form #cadastro="ngForm" (submit)="salvar()">
    <div class="form-group">
      <label for="nome">Nome <span class="required">*</span></label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="pessoa.nome"
        placeholder="Informe o nome completo"
        #nome="ngModel"
        required
        [class.is-invalid]="nome.invalid && (nome.dirty || nome.touched)"
      />
      <div
        *ngIf="nome.invalid && (nome.dirty || nome.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="nome.errors.required">O nome deve ser informado</span>
      </div>
    </div>

    <div class="form-group">
      <label for="dataDeNascimento"
        >Data de nascimento <span class="required">*</span></label
      >
      <input
        type="date"
        class="form-control"
        id="dataDeNascimento"
        name="dataDeNascimento"
        [(ngModel)]="pessoa.dataDeNascimento"
        #dataDeNascimento="ngModel"
        required
        [class.is-invalid]="
          dataDeNascimento.invalid &&
          (dataDeNascimento.dirty || dataDeNascimento.touched)
        "
      />
      <div
        *ngIf="
          dataDeNascimento.invalid &&
          (dataDeNascimento.dirty || dataDeNascimento.touched)
        "
        class="invalid-feedback"
      >
        <span *ngIf="dataDeNascimento.errors.required"
          >A data de nascimento deve ser informada</span
        >
      </div>
    </div>

    <div class="form-group">
      <label class="mr-2 col-form-label"
        >Sexo <span class="required">*</span></label
      >
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="sexoMasculino"
          name="sexo"
          value="M"
          [(ngModel)]="pessoa.sexo"
          #sexo="ngModel"
          required
          [class.is-invalid]="sexo.invalid"
        />
        <label class="form-check-label" for="sexoMasculino">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="sexoFeminino"
          name="sexo"
          value="F"
          [(ngModel)]="pessoa.sexo"
          #sexo="ngModel"
          required
          [class.is-invalid]="sexo.invalid"
        />
        <label class="form-check-label" for="sexoFeminino">Feminino</label>
      </div>
      <div *ngIf="sexo.invalid" class="invalid-feedback ml-3 pb-1">
        <span *ngIf="sexo.errors?.required">O sexo deve ser escolhido</span>
      </div>
    </div>

    <div class="form-group">
      <label for="cpf">CPF <span class="required">*</span></label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        name="cpf"
        [(ngModel)]="pessoa.cpf"
        #cpf="ngModel"
        required
        [class.is-invalid]="cpf.invalid && (cpf.dirty || cpf.touched)"
        minlength="14"
        maxlength="14"
        pattern="[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2}"
      />
      <div class="form-text text-muted">
        Informe o número do CPF no formato 000.000.000-00
      </div>
      <div
        *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="cpf.errors.required">O CPF deve ser informado</span>
        <span *ngIf="cpf.errors.minlength"
          >O CPF deve ter, no mínimo, 14 caracteres</span
        >
        <span *ngIf="cpf.errors.pattern"
          >O CPF deve ser no formato indicado</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email <span class="required">*</span></label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="pessoa.email"
        #email="ngModel"
        required
        [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
        email
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="email.errors.required">O e-mail deve ser informado</span>
        <span *ngIf="email.errors.email">O e-mail deve ser válido</span>
      </div>
    </div>

    <div class="form-group">
      <label for="telefone">Telefone <span class="required">*</span></label>
      <input
        type="number"
        class="form-control"
        id="telefone"
        name="telefone"
        [(ngModel)]="pessoa.telefone"
        #telefone="ngModel"
        required
        [class.is-invalid]="
          telefone.invalid && (telefone.dirty || telefone.touched)
        "
      />
      <div
        *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="telefone.errors.required"
          >O telefone deve ser informado</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço <span class="required">*</span></label>
      <textarea
        class="form-control"
        id="endereco"
        name="endereco"
        [(ngModel)]="pessoa.endereco"
        #endereco="ngModel"
        required
        [class.is-invalid]="
          endereco.invalid && (endereco.dirty || endereco.touched)
        "
        minlength="30"
      ></textarea>
      <div
        *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="endereco.errors.required"
          >O endereço deve ser informado</span
        >
        <span *ngIf="endereco.errors.minlength"
          >O endereço deve ser ter, no mínimo, trinta caracteres</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="cep">CEP <span class="required">*</span></label>
      <input
        type="number"
        class="form-control"
        id="cep"
        name="cep"
        [(ngModel)]="pessoa.cep"
        #cep="ngModel"
        required
        [class.is-invalid]="cep.invalid && (cep.dirty || cep.touched)"
      />
      <div class="form-text text-muted">
        Informe apenas os números do CEP
      </div>
      <div
        *ngIf="cep.invalid && (cep.dirty || cep.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="cep.errors.required">O CEP deve ser informado</span>
      </div>
    </div>

    <div class="form-group">
      <label for="estado">Estado <span class="required">*</span></label>
      <select
        class="form-control"
        id="estado"
        name="estado"
        [(ngModel)]="pessoa.estado"
        #estado="ngModel"
        required
        [class.is-invalid]="estado.invalid && (estado.dirty || estado.touched)"
      >
        <option *ngFor="let uf of estados" [value]="uf.sigla">{{
          uf.nome
        }}</option>
      </select>
      <div
        *ngIf="estado.invalid && (estado.dirty || estado.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="estado.errors.required">O Estado deve ser informado</span>
      </div>
    </div>

    <div class="form-group">
      <label for="cidade">Cidade <span class="required">*</span></label>
      <input
        type="text"
        class="form-control"
        id="cidade"
        name="cidade"
        [(ngModel)]="pessoa.cidade"
        placeholder="Informe a cidade"
        #cidade="ngModel"
        required
        [class.is-invalid]="cidade.invalid && (cidade.dirty || cidade.touched)"
      />
      <div
        *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)"
        class="invalid-feedback"
      >
        <span *ngIf="cidade.errors.required">A Cidade deve ser informada</span>
      </div>
    </div>

    <div class="form-group">
      <label for="selectTurmas">Turmas <span class="required" *ngIf="pessoa.documentosValidados">*</span></label>
      <select
        class="form-control"
        id="selectTurmas"
        name="selectTurmas"
        [(ngModel)]="pessoa.turmas"
        #selectTurmas="ngModel"
        [required]="pessoa.documentosValidados"
        [disabled]="!pessoa.documentosValidados"
        [class.is-invalid]="
          selectTurmas.invalid && (selectTurmas.dirty || selectTurmas.touched)
        "
        multiple
      >
        <option *ngFor="let turma of turmas" [value]="turma.numero"
          >{{ turma.numero }} - {{ turma.nome }}</option
        >
      </select>
      <div
        *ngIf="
          selectTurmas.invalid && (selectTurmas.dirty || selectTurmas.touched)
        "
        class="invalid-feedback"
      >
        <span *ngIf="selectTurmas.errors.required"
          >Pelo menos uma turma deve ser informada</span
        >
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="documentosValidados"
          name="documentosValidados"
          #documentosValidados="ngModel"
          [(ngModel)]="pessoa.documentosValidados"
        />
        <label for="documentosValidados" class="form-check-label"
          >Documentos validados na secretaria</label
        >
        <small class="form-text text-muted"
          >É importante indicar se os documentos foram validados na secretaria para
          assim, poder selecionar as turmas</small
        >
      </div>
    </div>

    <div>
      <button class="btn btn-primary mr-2" [disabled]="cadastro.invalid">
        Salvar
      </button>
      <button class="btn btn-secondary" type="reset">Limpar</button>
    </div>
  </form>

  <hr />
  <pre>{{ pessoa | json }}</pre>
  <hr />
  <h2>Pessoas cadastradas</h2>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" width="30%">Nome</th>
        <th scope="col" width="15%">Idade (anos)</th>
        <th scope="col" width="5%">Sexo</th>
        <th scope="col">Turmas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.nome }}</td>
        <td>{{ calcularAnos(pessoa.dataDeNascimento) }}</td>
        <td>{{ pessoa.sexo }}</td>
        <td>
          <ul>
            <li *ngFor="let turma of pessoa.turmas">
              {{ turma.numero }} - {{ turma.nome }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
